html,body { height:100%; }

.removepadding {
  padding-left: 0;
  padding-right: 0;
}

.navcolor {
  background-color: rgb(143, 43, 43);
}

.active {
  background-color: orange;
  color: black;
  border-radius: 8px;
}

.shoppingcartbutton {
  background-color: orange;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.shoppingitemcount {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: absolute;
  transform: translate(90%, -50%);
  width: 2.1rem;
  height: 2.1rem;
  background-color: rgb(17, 119, 17);
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}